.u__container {
    max-width: 144rem;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.u-center-text {
    text-align: center !important;
}

.u-margin-right-auto {
    margin-right: auto;
}

.u-text-transform-uppercase {
    text-transform: uppercase;
}