// FONT
$default-font-size: 1.6rem;

// COLORS

$color-primary: #a9836b; //brand secondary,
$color-gold-light:#ddccb8; // for slider hover, placeholder

$color-blue-blue:#2f4061;
$color-blue-dark-2:#304061; //for header, brands, btn in products
$color-blue-light:#536b94; //for hover
$color-blue-ligh-2: #7583a0; //for total at nav


$color-white:#ffffff;

$color-brown:#3a3633; //for email

$color-cream :#f5f2ee;

$color-black: #000000;

$color-grey-light: #e6e6e6; // for borders